In [1]:
from urllib.parse import urlencode

import numpy as np
import pandas as pd

In [2]:
def request_data(params):
    url = "https://dev.oec.world/olap-proxy/data.csv?{}".format(urlencode(params))
    return pd.read_csv(url)

In [3]:
# Sum of Exports by Country and HS92 Level 4 Code between 2016 and 2018
df_trade= pd.read_csv("https://app-tiger.oec.world/olap-proxy/data.csv?cube=trade_i_baci_a_92&measures=Trade%20Value&drilldowns=Exporter%20Country,HS4&Year=2016,2017,2018")

# World Population by Country for Year 2018
df_wdi = pd.read_csv("https://app-tiger.oec.world/olap-proxy/data.csv?cube=indicators_i_wdi_a&measures=Measure&drilldowns=Country&Indicator=SP.POP.TOTL&Year=2018")

In [4]:
#df_trade.info()
print(df_trade)
df_wdi.info()

       Country ID    Country  HS4 ID                HS4  Trade Value
0           afago     Angola   10101             Horses        615.0
1           afago     Angola   10102             Bovine      23491.0
2           afago     Angola   10103               Pigs        593.0
3           afago     Angola   10104    Sheep and Goats       3264.0
4           afago     Angola   10105            Poultry       9879.0
...           ...        ...     ...                ...          ...
201595      saven  Venezuela  219702             Prints     619426.0
201596      saven  Venezuela  219703         Sculptures    9290086.0
201597      saven  Venezuela  219704     Revenue Stamps       1434.0
201598      saven  Venezuela  219705  Collector's Items    1414813.0
201599      saven  Venezuela  219706           Antiques      12908.0

[201600 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country ID  220 non-null    object
 1   Country     220 non-null    object
 2   Measure     220 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.3+ KB

In [5]:
df = df_trade.copy()

# Countries with more than 1M habitants
df_population = df_wdi[df_wdi['Measure'] > 1000000]
# Products with more than $1.5B in global exports between 2016-2018
df_products = df.groupby('HS4 ID')['Trade Value'].sum().reset_index()
df_products = df_products[df_products['Trade Value'] > 3*500000000]
# Countries with more than $3B in global exports between 2016-2018
df_countries = df.groupby('Country ID')['Trade Value'].sum().reset_index()
df_countries = df_countries[df_countries['Trade Value'] > 3*1000000000]

df_filter  = df[
  (df['Country ID'].isin(df_population['Country ID'])) &
  (df['Country ID'].isin(df_countries['Country ID'])) & 
  (df['HS4 ID'].isin(df_products['HS4 ID']))
]

In [6]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136787 entries, 0 to 201599
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Country ID   136787 non-null  object
 1   Country      136787 non-null  object
 2   HS4 ID       136787 non-null  int64
 3   HS4          136787 non-null  object
 4   Trade Value  136787 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.3+ MB

In [7]:
df_pivot = pd.pivot_table(df_filter, index=['Country'],
                                     columns=['HS4 ID'],
                                     values='Trade Value')\
             .reset_index()\
             .set_index('Country')\
             .dropna(axis=1, how="all")\
             .fillna(0)\
             .astype(float)

print(df_pivot)

HS4 ID            10101      10102        10103      10104       10105   \
Country
Afghanistan         98.0   725494.0          0.0  3317969.0         0.0
Albania            965.0    18655.0          0.0    40350.0     87581.0
Algeria         359367.0        0.0          0.0        0.0       263.0
Angola             615.0    23491.0        593.0     3264.0      9879.0
Argentina    103130398.0  2823338.0     428327.0   100035.0   3564490.0
...                  ...        ...          ...        ...         ...
Venezuela       473153.0    80672.0          0.0        0.0      1530.0
Vietnam        1239500.0  9621365.0  135860396.0        0.0   2436708.0
Yemen             4804.0        0.0          0.0   519121.0         0.0
Zambia           52153.0   167489.0     102844.0        0.0  12152582.0
Zimbabwe        207552.0    95098.0      11813.0     2011.0   2586678.0

HS4 ID           10106         10201         10202        10203       10204   \
Country
Afghanistan   2818166.0  4.042700e+04  0.000000e+00          0.0    605229.0
Albania       3334525.0  8.574180e+05  0.000000e+00      31310.0         0.0
Algeria          1396.0  3.566000e+04  1.587370e+05     194168.0         0.0
Angola         737929.0  2.959000e+03  2.099670e+05     119420.0      2471.0
Argentina     3516223.0  2.092579e+09  2.314758e+09   28176468.0  34433886.0
...                 ...           ...           ...          ...         ...
Venezuela      708823.0  0.000000e+00  0.000000e+00     154154.0         0.0
Vietnam      33294353.0  4.682720e+05  1.313202e+07  219394714.0    526388.0
Yemen               0.0  0.000000e+00  0.000000e+00          0.0       762.0
Zambia         977982.0  3.179100e+04  1.288620e+05     107430.0     41016.0
Zimbabwe     10911922.0  1.280100e+05  3.200000e+02      28677.0       365.0

HS4 ID       ...      209612       209613      209615      209616      209617  \
Country      ...
Afghanistan  ...      3708.0          7.0       700.0        36.0      4514.0
Albania      ...      8447.0       1289.0     28392.0       192.0      2069.0
Algeria      ...      2022.0          0.0      2258.0     10398.0     10235.0
Angola       ...       324.0      21703.0     40587.0     17379.0    464635.0
Argentina    ...    167598.0     168433.0  11721828.0   2949680.0    891631.0
...          ...         ...          ...         ...         ...         ...
Venezuela    ...     74418.0      19985.0     12381.0      8741.0     38396.0
Vietnam      ...  26621849.0  115303345.0  27043878.0  60099524.0  15656519.0
Yemen        ...       162.0        478.0        49.0         0.0         0.0
Zambia       ...      9923.0        533.0     32567.0    765161.0    694113.0
Zimbabwe     ...     17761.0       3343.0         0.0         0.0      8013.0

HS4 ID          209618      219701     219703      219705     219706
Country
Afghanistan     1301.0     71729.0    27880.0    324714.0  4031467.0
Albania        38411.0    923626.0   640594.0    844493.0    42255.0
Algeria        10473.0    484047.0   365766.0     79526.0    59699.0
Angola         27778.0    338662.0   101880.0      3213.0   317069.0
Argentina     121971.0  47350476.0  3467168.0   3379468.0  3667237.0
...                ...         ...        ...         ...        ...
Venezuela       2704.0  16588919.0  9290086.0   1414813.0    12908.0
Vietnam      8461980.0   7365177.0  3829010.0   2366367.0   849003.0
Yemen              0.0      5140.0     2523.0     19677.0  1638868.0
Zambia          9235.0    169336.0    78971.0   2034070.0    52457.0
Zimbabwe       15754.0   1130707.0  6125488.0  12502767.0     7970.0

[148 rows x 1031 columns]

In [12]:
"""Revealed Comparative Advantage (RCA) module

The Revealed Comparative Advantage is an index introduced by Balassa (1965),
which is used to evaluate the main products to be exported by a country,
and their comparative advantages in relation to the level of world exports
(Hidalgo et al., 2007).
"""
import numpy as np
import pandas as pd
def rca(tbl: pd.DataFrame) -> pd.DataFrame:
    """Calculates the Revealed Comparative Advantage (RCA) for a pivoted matrix.

    It is important to note that even though the functions do not use a
    parameter in relation to time, the data used for the calculations must
    be per period; for example working with World Exports for the year 2020.
    Also, the index always has to be a geographic level.

    Arguments:
        tbl (pandas.DataFrame) -- A pivoted table using a geographic index,
            columns with the categories to be evaluated and the measurement of
            the data as values.

    Returns:
        (pandas.DataFrame) -- RCA matrix with real values.
    """
    # fill missing values with zeros
    tbl = tbl.fillna(value=0)

    col_sums = tbl.sum(axis=1) # 1:columns
    col_sums = col_sums.to_numpy().reshape((len(col_sums), 1))

    rca_numerator = np.divide(tbl, col_sums)
    row_sums = tbl.sum(axis=0) # 0:index

    total_sum = tbl.sum().sum()
    rca_denominator = row_sums / total_sum
    rcas = rca_numerator / rca_denominator

    return rcas

In [10]:
from typing import Optional, Tuple

def complexity(rca: pd.DataFrame,
               iterations: int = 20,
               drop: Optional[bool] = True) -> Tuple[pd.Series, pd.Series]:
    """Calculates Economic Complexity Index (ECI) and Product Complexity
    Index (PCI) from a RCA matrix.

    Note that to display the resulting values, the series must be transformed
    into a dataframe in an tidy format as shown below:

        eci_value, pci_value = complexity(rca)
        eci = eci_value.to_frame(name="ECI").reset_index()
        pci = pci_value.to_frame(name="PCI").reset_index()

    Args:
        rcas (pd.DataFrame) -- Pivotted RCA matrix.
        iterations (int, optional) -- Limit of recursive calculations for
            kp and kc. Default value: 20.
        drop (bool, optional) -- Boolean to ensure that returns include NaN
            values. Default value: True.

    Returns:
        ((pd.Series, pd.Series)) -- A tuple of ECI and PCI values.
    """
    # Binarize rca input
    rcas = pd.DataFrame(rca.copy())
    rcas[rcas >= 1] = 1
    rcas[rcas < 1] = 0

    # drop columns / rows only if completely nan
    rcas_clone = rcas.copy()
    rcas_clone = rcas_clone.dropna(how="all")
    rcas_clone = rcas_clone.dropna(how="all", axis=1)

    if rcas_clone.shape != rcas.shape:
        logger.warning("RCAs contain columns or rows that are entirely comprised of NaN values.")
    if drop:
        rcas = rcas_clone
    
    print(rcas)
    
    kp = rcas.sum(axis=0) #sum columns
    kc = rcas.sum(axis=1) #sum rows

    print(kc)
    kp0 = kp.copy()
    kc0 = kc.copy()

    
    for i in range(1, iterations):
        kc_temp = kc.copy()
        kp_temp = kp.copy()
        kp = rcas.T.dot(kc_temp) / kp0
        if i < (iterations - 1):
            kc = rcas.dot(kp_temp) / kc0

    geo_complexity = (kc - kc.mean()) / kc.std()
    prod_complexity = (kp - kp.mean()) / kp.std()

    return geo_complexity, prod_complexity

In [13]:
rca = rca(df_pivot)
print(rca)
ECI, PCI = complexity(rca)

HS4 ID         10101     10102     10103     10104     10105      10106   \
Country
Afghanistan  0.000164  0.369302  0.000000  9.026971  0.000000   9.139085
Albania      0.000804  0.004732  0.000000  0.054699  0.063779   5.388141
Algeria      0.020650  0.000000  0.000000  0.000000  0.000013   0.000156
Angola       0.000034  0.000390  0.000021  0.000289  0.000471   0.078006
Argentina    3.600635  0.030018  0.009875  0.005685  0.108810   0.238170
...               ...       ...       ...       ...       ...        ...
Venezuela    0.034015  0.001766  0.000000  0.000000  0.000096   0.098860
Vietnam      0.011456  0.027080  0.829185  0.000000  0.019691   0.596998
Yemen        0.006406  0.000000  0.000000  1.126684  0.000000   0.000000
Zambia       0.010761  0.010524  0.014013  0.000000  2.192407   0.391491
Zimbabwe     0.117857  0.016445  0.004430  0.001859  1.284257  12.021238

HS4 ID         10201     10202     10203     10204   ...    209612    209613  \
Country                                              ...
Afghanistan  0.008069  0.000000  0.000000  0.393096  ...  0.009763  0.000018
Albania      0.085272  0.000000  0.002474  0.000000  ...  0.011082  0.001616
Algeria      0.000245  0.001099  0.001059  0.000000  ...  0.000183  0.000000
Angola       0.000019  0.001378  0.000617  0.000052  ...  0.000028  0.001780
Argentina    8.723754  9.736521  0.093331  0.467132  ...  0.009217  0.008852
...               ...       ...       ...       ...  ...       ...       ...
Venezuela    0.000000  0.000000  0.001051  0.000000  ...  0.008427  0.002163
Vietnam      0.000517  0.014622  0.192378  0.001890  ...  0.387563  1.604087
Yemen        0.000000  0.000000  0.000000  0.000395  ...  0.000340  0.000959
Zambia       0.000783  0.003203  0.002103  0.003288  ...  0.003225  0.000166
Zimbabwe     0.008680  0.000022  0.001545  0.000081  ...  0.015886  0.002857

HS4 ID         209615    209616    209617    209618    219701    219703  \
Country
Afghanistan  0.002023  0.000103  0.008130  0.009632  0.021340  0.032562
Albania      0.040882  0.000275  0.001857  0.141701  0.136918  0.372796
Algeria      0.000224  0.001026  0.000634  0.002665  0.004950  0.014685
Angola       0.003823  0.001627  0.027280  0.006704  0.003284  0.003879
Argentina    0.707522  0.176921  0.033544  0.018862  0.294235  0.084580
...               ...       ...       ...       ...       ...       ...
Venezuela    0.001539  0.001080  0.002974  0.000861  0.212256  0.466644
Vietnam      0.432121  0.954261  0.155924  0.346408  0.012116  0.024727
Yemen        0.000113  0.000000  0.000000  0.000000  0.001220  0.002351
Zambia       0.011617  0.271230  0.154325  0.008440  0.006219  0.011385
Zimbabwe     0.000000  0.000000  0.004903  0.039623  0.114277  2.430366

HS4 ID          219705    219706
Country
Afghanistan   1.230321  6.840225
Albania       1.594345  0.035724
Algeria       0.010358  0.003482
Angola        0.000397  0.017536
Argentina     0.267448  0.129963
...                ...       ...
Venezuela     0.230549  0.000942
Vietnam       0.049575  0.007965
Yemen         0.059476  2.218273
Zambia        0.951346  0.010987
Zimbabwe     16.092939  0.004594

[148 rows x 1031 columns]
HS4 ID       10101   10102   10103   10104   10105   10106   10201   10202   \
Country
Afghanistan     0.0     0.0     0.0     1.0     0.0     1.0     0.0     0.0
Albania         0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
Algeria         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Angola          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Argentina       1.0     0.0     0.0     0.0     0.0     0.0     1.0     1.0
...             ...     ...     ...     ...     ...     ...     ...     ...
Venezuela       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Vietnam         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Yemen           0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0
Zambia          0.0     0.0     0.0     0.0     1.0     0.0     0.0     0.0
Zimbabwe        0.0     0.0     0.0     0.0     1.0     1.0     0.0     0.0

HS4 ID       10203   10204   ...  209612  209613  209615  209616  209617  \
Country                      ...
Afghanistan     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Albania         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Algeria         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Angola          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Argentina       0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
...             ...     ...  ...     ...     ...     ...     ...     ...
Venezuela       0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Vietnam         0.0     0.0  ...     0.0     1.0     0.0     0.0     0.0
Yemen           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Zambia          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
Zimbabwe        0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0

HS4 ID       209618  219701  219703  219705  219706
Country
Afghanistan     0.0     0.0     0.0     1.0     1.0
Albania         0.0     0.0     0.0     1.0     0.0
Algeria         0.0     0.0     0.0     0.0     0.0
Angola          0.0     0.0     0.0     0.0     0.0
Argentina       0.0     0.0     0.0     0.0     0.0
...             ...     ...     ...     ...     ...
Venezuela       0.0     0.0     0.0     0.0     0.0
Vietnam         0.0     0.0     0.0     0.0     0.0
Yemen           0.0     0.0     0.0     0.0     1.0
Zambia          0.0     0.0     0.0     0.0     0.0
Zimbabwe        0.0     0.0     1.0     1.0     0.0

[148 rows x 1031 columns]
Country
Afghanistan     66.0
Albania        156.0
Algeria         18.0
Angola          15.0
Argentina      145.0
               ...
Venezuela       27.0
Vietnam        222.0
Yemen           63.0
Zambia          69.0
Zimbabwe        69.0
Length: 148, dtype: float64

In [14]:
ECI.sort_values(ascending=False)

Country
Japan               2.389178
Chinese Taipei      2.183193
Switzerland         2.085713
South Korea         2.019607
Germany             1.984514
                      ...
Nigeria            -1.648391
Papua New Guinea   -1.738730
Iraq               -1.870009
South Sudan        -2.240257
Chad               -2.547961
Length: 148, dtype: float64